body {
    background-color: rgb(144, 243, 213);
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  p {
    border: 10px solid powderblue;
    padding: 5px ;
    margin: 5px;
    color: red;
    font-family: courier;
    font-size: 160%;
  }